<div class="card shadow-sm m-3">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="container mt-2">
    <div class="mb-3">
      <label for="taskName" class="form-label">Task</label>
      <input type="text" id="taskName" class="form-control" formControlName="taskName" placeholder="Task">
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea id="description" class="form-control" formControlName="description" rows="3" placeholder="Description"></textarea>
    </div>
    <div class="mb-3">
      <label for="status" class="form-label">Status</label>
      <select id="status" class="form-select" formControlName="status">
        <option value="Pending">Pending</option>
        <option value="In Progress">In Progress</option>
        <option value="Completed">Completed</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="assignee" class="form-label">Assigned To</label>
      <input type="text" id="assignee" class="form-control" formControlName="assignee" placeholder="Assignee">
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="submit" class="btn btn-danger ms-2" type="button" (click)="resetForm()" *ngIf="!editing">Cancel</button>
      <button type="button" class="btn btn-danger ms-2" (click)="deleteTask()" *ngIf="editing">Delete</button>
    </div>
    <div class="d-flex justify-content-end mb-3">
      <button type="submit" class="btn btn-secondary ms-2" type="button" (click)="backToDashBoard()">Back To DashBoard</button>
    </div>
  </form>
</div>

